<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Available Subscriptions</h1>
  <ul>
    <li><a href="/checkout/Netflix">Netflix</a></li>
    <li><a href="/checkout/Showmax">Showmax</a></li>
    <li><a href="/checkout/Spotify">Spotify</a></li>
    <li><a href="/checkout/PrimeVideo">Prime Video</a></li>
    <li><a href="/checkout/AppleMusic">Apple Music</a></li>
    <li><a href="/checkout/ExpressVPN">ExpressVPN</a></li>
  </ul>
  <a href="/">Back Home</a>
</body>
</html>
